body,div,p,img,a{padding:0;margin:0;}
.Common_width{
    width:1200px;
    margin:0 auto;
}
.Common_text{
    text-decoration: none;
    color:#333;
    font-weight: bold;  
}
.Common_text:hover{
    color:#00AFC7;
}
.Common_color{
    color:#00AFC7;
}
.Common_border_aww{
    border:1px solid #999;
    background:white;
    position:relative;
    float:left;
}
.Common_input{
    outline: none;
    border:none;
}
.Common_span{    
    text-decoration: none;
    font-size:10px;
    color:#999;
    margin-left:5px;
}  