
.head-one{
    float: right;
}
/* 登录注册 */
.head-one b{
    color:#666;
    font-size:10px;
    margin:0 5px;
}
.head-b-img{
    display: inline-block;
    width:10px;
    height:10px;
    background:url(../img/head/head_one/bb.png) no-repeat 0px 4px;
}
.head-a-color{
    text-decoration: none;
    font-size:10px;
}
.head-aa-color{
    color:#666;
}
/* 导航 */
.head-father{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.head-nav a{
    padding: 0 0.5rem;
}
.head-two{
    width:100%;
    border-bottom:2px solid #00AFC7;
    display: flex;
    justify-content: space-between;
}
.head-nav-hover-a{ 
    position: relative;
    border-left:1px solid rgba(255, 255,255,255);
    border-right:1px solid rgba(255, 255,255,255);
}  
.head-nav-hover-b{
    display: none;
    text-align: center;
    position: absolute;
    top:24px;
    left:-120px;
    border:1px solid #999;
    color: #666666;
    font-size:10px;
    font-weight: bold;  
    background: white;
    white-space: nowrap;
    padding:0.7rem 0.5rem;
}
.head-nav-hover-b span{
    display: inline-block;
    padding:0.3rem 1rem;
}
.head-nav-hover-b span:hover{
    background:#E0F4FF;
    color:#00B4E5;
    text-decoration: underline;
}
.head-nav-hover-a:hover{
    border-left:1px solid #999;
    border-right:1px solid #999;
}
.head-nav-hover-a:hover .head-nav-hover-b{
    display: block;
}
.head-nav{
    padding:0 0 0.2rem 0;
}
.head-nav a{
    text-decoration: none;
    font-size:16px;
    font-weight: bold;
    color:black;
}
.head-right{
    position: absolute;
    bottom:-4px;
    right:0;
}
.head-tp{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width:30rem;
    top:15px;
    right:255px;
}
.head-nav-hover-b-red{
    color:red;
    position: relative;
}
.head-nav-hover-b-red:hover{
    color:red !important;
}
.head-nav-hover-b-red-tb{
    position: absolute;
    top:0;
    right:0;
}
/* 购票栏 */
.head-three{
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
}
.head-three-left{
    width:60%;
    border:6px solid #00AFC7;
    display: flex;
    justify-content: space-between;
}
.head-three-right{
    width:37.5%;
}
.head-three-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.head-three-nav>span{
    background:#00AFC7;
    color:white;
    padding:0.7rem 1rem;
    white-space: nowrap;
    text-align: center;
    position:relative;
    cursor:default;
}
.head-three-nav>span:last-child>img{
    position: absolute;
    top:0;
    right:0;
}
.head-radio{
    margin: 0 0 0 2rem;
    padding:1rem 0 0 0;
    position: relative;
}
.head-radio>label{
    margin:0 0.5rem 0 1rem;
}
.head-radio>img{
    position: absolute;
    top:0;  
}
/* 输入栏 */
.head-airs{
    background:#F4FBFC;
    padding:0 0 1rem 0;
}
.head-air{
    width:100%;
    margin:1rem;  
}
#fixation2>.fixation2-three>div:last-child{
    position: absolute;
    bottom:0.5rem;
    left:30px;
}
.head-block{
    display: block;
}
.head-none{
    display: none;
}
.head-hidden{
    visibility: hidden;
}
.head-air-one{
    border-bottom:1px solid #00AFC7;
    display: flex;
    justify-content: space-between;
}
.head-air-one>div>a{
    text-decoration: none;
    color:#666;
}
.head-air-onea>a{
    display: inline-block;
    padding:0 1.5rem 0.5rem 1.5rem;
    border-bottom:white 2px solid;
}
.head-air-onea>a:hover{
    color:#3F3F3F;
    border-bottom:2px solid #098CB5;
}
.head-air-oneb>a>img{
    vertical-align: sub;
}
.head-air-oneb>a{
    font-size:12px;
}
.head-border{
	display: flex;
	width:100%;
	position: relative;
}
.head-air-width{
	margin: 1rem 2rem 0 2rem;
    width: 50%;
}
.head-air-text{
    width:20%;
    margin:0 0.5rem 0 0.5rem;
	line-height: 2.5rem;
    font-size:12px;
    color:#666;
    white-space: nowrap;
}
.head-input{
    width:55%;
	height:95%;
	border:0;
	outline: none;
	margin:0 3rem 0 0;
}
.head-air-input{
    width:100%;
    height:40px;
	display: flex;
	justify-content: space-around;
	position: relative;
	border:1px solid #999;
    background:white;
}
.head-air-input3{
    background:#EBEBE4;
}
.head-air-input2
{  
    margin-top:1rem;
}

.head-air-bg{
	position: absolute;
	top:0.7rem;
	right:0.5rem;
	width:20px;
	height:20px;
	background: url(../../img/head/head_one/i_qbox.png) no-repeat 3px 3px;
}
.head-air-bg2{
    color:#666;
    font-size:10px;
    white-space: nowrap;
    width:3rem;
    height:20px;
    background: url(../../img/head/head_one/i_qbox.png) no-repeat 30px 3px;
}
.head-air-bg3{
    white-space: nowrap;
    color:#666;
    font-size: 10px;
    padding:0.8rem 1.8rem 0 0
}
.head-absolute{
	width:1rem;
	height:3.5rem;
	border:1px solid #999;
	border-left:0;
	position: absolute;
	top:2.4rem;
	left:16.9rem;
	
}
.head-absolute-span{
	position:absolute;
	top:1.2rem;
	left:0.6rem;
	font-size:12px;
	color:white;
	background: #999;
}
.head-three .head-three-left .head-three-nav .item{
    background:white;
    color:#00AFC7;
}
.head-texts{
	display: flex;
    justify-content: space-between;
    margin-top:1rem;
}
.head-texts-input{
    display: flex;
    justify-content: space-around;
    font-size:10px;
    color:#666;
    width:50%;
    position: relative;
}
.head-texts-input>span{
    position: absolute;
    bottom:-2rem;
    left:2rem;
    white-space: nowrap;
    padding:0.2rem 1rem;
    border:1px solid #00AFC7;
    background:white;
}
.head-texts-input>span>b{
    display: inline-block;
    width:10px;
    height: 10px;
    border:1px solid #00AFC7;
    transform: rotate(45deg);
    background: white;
    position:absolute;
    bottom:1rem;
    left:1rem;
    border-bottom-right-radius: 100%;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.head-texts-input>span>img{
    vertical-align: sub;
}
.head-texts-input>span>a{
    text-decoration: none;
    color:#00AFC7;
}
.head-texts-input>div>div:last-child>img{
    vertical-align: middle;
}
.head-texts-input2{
    margin:0 0 0 1.2rem;
    display: flex;
    justify-content: space-around;
    border:1px solid #666; 
    height:40px; 
    width:35%;
    line-height: 2.4rem;
    background:white;
}
.head-texts-input3{
    margin:0 1.2rem 0 0;
}
.headTextInput{
    width:100%;
    height:80%;
    outline: none;
    border:none;
}
.head-texts-adult{
    white-space: nowrap;
    margin-left:0.5rem;
}
.head-texts-a{
    font-size:10px;
    color:#666;
    margin:1rem 0 0 2rem;
}
.head-texts-a span{
    color:black;
}
.head-texts-b{
    font-size:20px;
    color:white;
    outline: none;
    border:0;
    border-radius: 2%;
    padding:0.5rem 2.5rem;
    background:#FF5722;
    margin-right:1.9rem;
}
.head-text2{
    text-align: center;
    color:#3C8EAC;
    font-weight: bolder;
    margin:1rem 0 0 0;
}
.head-text2 span{
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid red;
}
.head-text2 img{
    vertical-align: sub;
}
/* 酒店 */
.Hotel{
    background:#F4FBFC;
    padding:1.5rem 2rem;
    white-space: nowrap;

}
.Hotel-radio>span{
    margin-right:1rem;
}
.Hotel-input>div{
    display: flex;
    margin-top:1rem;
}
.Hotel-input>div>div{
    border:1px solid #666;
    padding:0.5rem 1rem ;
    background: white;
    display: flex;
    justify-content: space-between;
}
.Hotel-input>div>div>input{
    width:90%;
    outline: none;
    border:none;
}
.Hotel-input>div>div>span{
    font-size:14px;
    color:#666;
    padding-right:0.5rem;
}
.Hotel-input>div:first-child>div:first-child{
    width:40%;
}
.Hotel-input>div:last-child>div:last-child{
    width:40%;
    margin-left:1rem;
}
.Hotel-input>div:first-child>div:last-child{
    width:45%;
    margin-left:1rem;
}
.Hotel-input>div:last-child>div:first-child{
    width:45%;
}
.Hotel>div:last-child{
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
}
.Hotel>div:last-child>button{
    border:none;
    padding:0.5rem 2rem;
    color:white;
    background: #FF5722;
    font-size:20px;
}
.Hotel>div:last-child>span{
    font-size: 14px;
    color:#6A6D82;
    padding:0.8rem 0 0 0;
}
.Hotel-bottom{
     padding:1rem 0 0 0;
     text-align: center;
}
.Hotel-bottom>a{
    text-decoration: none;
    font-size: 15px;
    color:#666; 
    padding:0.5rem;
}
.Hotel-bottom>a:first-child{
    color:#00AFC7;
}
.Hotel-bottom>a>img{
    vertical-align: top;
}
/* 火车票 */
.train-ticket{
    display: flex;
    justify-content:flex-end;
    padding:2rem 0 2rem 0;
}
/* 度假 */
.textAHoliday{
    padding:0.5rem 0 4.5rem 0;
}
.textAHoliday-text{
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
}
.textAHoliday-text>div>p:first-child{
    padding-bottom:0.5rem;
}
.textAHoliday-text>div>p>a{
    text-decoration: none;
    color:#333;
    font-size: 14px;
}
.textAHoliday-text>div>p>span{
    font-size:14px;
    color:#999;
}
/* 门票 */
.tickets{
    padding:2rem 2rem 1rem 2rem;
    background: #F4FBFC;
}
.tickets>div:first-child>input{
    width:100%;
    height:40px;
}
.tickets>div:first-child+div{
    display: flex;
    justify-content: flex-end;
    margin-top:1rem;
}
.tickets>div:first-child+div>button{
    border:none;
    padding:0.5rem 2rem;
    color:white;
    background: #FF5722;
    font-size:20px;
}
.tickets>div:last-child{
    margin-top:1rem;
}
.tickets>div:last-child>p>span{
    color:black;
    font-weight: bold;
}
.tickets>div:last-child>p>a{
    text-decoration: none;
    color:#999;
}
/* 团购 */
.group-input{
    width:100%;
    outline: none;
    border:0;
    margin-left:0.5rem;
}
.group-text{
    margin-left:2rem;
    padding:1rem 0 0 0;
}
.group-text>a{
    text-decoration: none;
    font-size: 10px;
    color:#666;
}
.group-bottom>div{
    border-bottom:1px solid #999;
    padding:0.5rem;
}
.group-bottom>div:last-child{
    padding:1rem 0.5rem;
}
.group-bottom>div>p>span{
    font-weight: inherit;
    color:#999;
    font-size: 15px;
}
.group-bottom>div>p>a{
    text-decoration: none;
    font-size:15px;
    color:#333;
}
.group-bottom>div:first-child+div>p>a{
    color:#666;
}
.group-bottom>div:first-child+div>p>a:last-child{
    margin-left:6rem;
}
.group-bottom+div{
    text-align: center;
    margin-top:1.5rem;
}
.group-bottom+div>a>img{
    vertical-align: top;
    margin-right:0.5rem;
}
.group-bottom+div>a{
    text-decoration: none;
    margin:1rem;
    color:#3EBED0;
    font-weight: 300;
}
/* 车车 */
.car-input{
    border:1px solid #999;
    margin-left:2rem;
    width:50%;
    padding:0.5rem 0 0 0;
    background: white;

}
.car-input>span{
    color:#999;
    font-size:10px;
    margin:0 0.5rem;
}
.car-input>input{
    width:80%;
    outline: none;
    border:0;
}
.car-bottom{
    text-align: center;
    margin-top:1rem;
}
.car-bottom>a>img{
    vertical-align: top;
}
.car-bottom>a{
    text-decoration: none;
    padding:1.5rem;
    font-size:18px;
    color:#6CBBD7;
    font-weight: bold;
}
/* 自由行 */
.zyx{
    margin-top:1.5rem;
}
.zyx>span,.zyx+div>span{
    color:#999;
    font-size:10px;
    font-weight: 300;
}
.zyx+div{
    margin-top:1rem;
}
.zyx>a,.zyx+div>a{
    text-decoration: none;
    margin:0.5rem;
    font-size:10px;
    color:#666;
}