#login{
    margin-top:5rem;
}
#login>div{
    width:1188px;
    margin:0 auto;
}
#login .login-text{
    text-decoration: none;
    color:#0D70CC;
}
#login>div:first-child{
    margin-bottom:2rem;
    font-size:20px;
    font-weight: 800;
}
#login>div:first-child>img{
    vertical-align: sub;
}
#login>div:first-child+div{
    display: flex;
    justify-content: space-between;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    padding-left:5rem;
}
#login>div:first-child+div>div:first-child>div:first-child{
    display: flex;
    justify-content: space-between;
    
}
#login>div:first-child+div>div:first-child>div:first-child>div{
    margin-left:2rem;
}
#login>div:first-child+div>div:first-child>div:first-child>div>p{
    font-size:10px;
    color:#666;
    padding:0.3rem 0 0 0;
}
#login>div:first-child+div>div:first-child>div:first-child{
    margin-top:2rem;
}
#login>div:first-child+div>div:first-child>div:first-child>div>p:first-child{
    padding:2rem 0 0 0;
}
#login>div:first-child+div>div:first-child>div:first-child>div>p:first-child+p{
    padding:0 0 1rem 0;
}
#login>div:first-child+div>div:first-child>div:first-child>div>p:first-child,#login>div:first-child+div>div:first-child>div:first-child>div>p:first-child+p{
    color:#009BB5;
    font-size:20px;
    font-weight: 700;
}
#login>div:first-child+div>div:first-child+div{
    background:#F6F6F6;
    padding:2rem 2rem 2rem 2rem;
}

#login>div:first-child+div>div:first-child+div>ul>li{
    list-style: none;
}
#login>div:last-child{
    margin-top:2rem;
}
.thirdparty{
    padding:2rem 0 0 0;
    border-top:1px solid #999;
    text-align: center;
    margin:5rem 2rem 0 2rem;
    position: relative;
}
.thirdparty>span:first-child{
    position: absolute;
    top:-0.6rem;
    left:6.5rem;
    background: #F6F6F6;
    padding:0 0.5rem;
}
.thirdparty>span:not(:first-child){
    padding:0 1rem 0 0;
}
.thirdparty>img{
    vertical-align: sub;
}
#login{
    font-size: 10px;
}
.list{position: relative;}
.list>ul>li{
    margin: 1rem 2.5rem 1rem 0;
}
.list>ul>li:first-child>div>label:last-child>input{
    margin-left:2rem;
}
.list>ul>li:first-child+li>div,.list>ul>li:first-child+li+li>div{
    border:1px solid #999;
    background:white;
   
}
.list>ul>li:first-child+li>div>input,.list>ul>li:first-child+li+li>div>input{
    border:none;
    outline: none;
    padding:0.5rem 0;
}
.list>ul>li:last-child>div>button{
    width:100%;
    padding:0.5rem 0;
    background:#FF7F00;
    outline: none;
    border:none;
    color:white;
    
}
.list>ul>li:first-child+li+li+li>div>input{
    padding:0.5rem 0;
    outline: none;
}
.list>ul>li:first-child+li+li+li>div>input:first-child+span{
    display: inline-block;
    width:50px;
    height:20px;
    text-align: center;
    padding:0.3rem 0;
    background:white;
}
.list>div:last-child{
    position: absolute;
    top:10rem;
    left:-18rem;
    background: white;
    font-size: 20px;
    color: #009BB5;
    display: none;
}
#sp3,#sp4,#sp5{
    display: inline-block;
    height:16px;
}
