
.tfoot-one{
    margin-top:7.5rem;
    width:100%;
    background:#009FBE;
}
.tfoot-a{
    display: flex;
    justify-content: space-between;
    padding:2rem;
}
.tfoot-a-right{
    width:30%;
    position: relative;
}
.tfoot-text-p1{
    font-size:20px;
    color:white;
}
.tfoot-text-p2{
    font-size:10px;
    color:#9ACEDC;
}
.tfoot-text-p3 a{
    display: inline-block;
    margin-top:1rem;
    text-decoration: none;
    background:#FFFFFF;
    color:#009FBD;
    padding:0.3rem 2rem;
}
.tfoot-iphone{
    position: absolute;
    top:-3.8rem;
    left:-8.5rem;
}
.tfoot-text-one{
    margin-top:2rem;
}
.tfoot-text-one a,.tfoot-text-two a,.tfoot-text-three a{
    text-decoration: none;
    line-height: 2rem;
    font-size:10px;
    color:#999;
    margin:5px;
}
.tfoot-text-three span{
    font-size:10px;
    color:#999;
}
.tfoot-text-three b{
    font-size:10px;
    color:#999;
}
.tfoot-text-one span,.tfoot-text-two span{
   color:black;
   font-size:10px;
}
.tfoot-text-two{
    margin:1rem 0 0 0;
    padding:0 0 1rem 0;
    border-bottom:1px solid #999;
}
.tfoot-text-one,.tfoot-text-two{
    white-space: nowrap;
}
.tfoot-text-three{
    text-align: center;
    margin-top:1rem;
    position: relative;
}
.tfoot-text-three p img{
    margin:1rem 0;
}
.tfoot-hover-b a{
    line-height: 0;
}
.tfoot-hover-b{
    width:90px;
    position: absolute;
    top:-78px;
    left:192px;
    background: white;
    display: none;
}